apiVersion: v1
kind: Service
metadata:
  name: process-gpt-agent-feedback
  labels:
    app: process-gpt-agent-feedback
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: process-gpt-agent-feedback

